@media screen and (max-width: 1024px){
  .section__container{
    width: 50%;
    height: 400px;
  }
  .container__info{
    width: 70%;
    margin-top: 200px;
  }
  .info__heading{
    font-size: 28px;
  }
  .info__author{
    font-size: 23px;
  }
  .info__button{
    font-size:19px;
  }
}
@media screen and (max-width: 900px) {
  .content{
    margin: 20% auto;
  }
  .contet__heading{
    font-size: 35px;
    padding: 10px;
  }
  .content__paragraph{
    font-size: 24px;
    padding: 25px 0;
  }
  .content__span{
    font-size: 23px;

  }
}

@media screen and (max-width: 650px) {
  .header__button-text {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .nav__list-item {
    padding: 0 20px;
    border-right: 1px solid black;
  }
  .nav__list-item:last-child {
    border-right: none;
  }
  
  .section__container{
    width: 100%;
    height: 450px;
  }
  .container__info{
    width: 80%;
    margin-top: 250px;
  }
  .footer-left {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-left__menu-list {
    padding: 50px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 367px) {
  .nav {
    width: 100%;
    background-color: rgb(150, 150, 150);
    text-align: center;
  }
  .nav__list {
    flex-direction: column;
    border-bottom: 1px solid #fff;
  }
  .nav__list-item {
    border-bottom: 1px solid #fff;
    border-right: none;
  }
  .nav__list-item-link:hover {
    border-bottom: none;
  }
  .nav__list-item:hover {
    background-color: rgb(61, 61, 61);
  }
}
