.body {
  display: flex;
  flex-direction: column;
}
.header {
  height: 100px;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.header-container {
  display: flex;
}
.header-container__icon {
  padding: 5px;
}
.header-container__heading {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  font-family: monospace;
  padding: 8px;
  cursor: pointer;
}
.header-container__heading {
  color: black;
}
.header-container__heading:hover {
  color: rgb(73, 73, 73);
}
.nav__list {
  display: flex;
}
.nav__list-item {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  font-family: monospace;
  padding: 15px;
}
.nav__list-item-link {
  text-decoration: none;
  color: black;
}
.nav__list-item-link:hover {
  border-bottom: 2px solid black;
}
.header__button-text {
  text-transform: uppercase;
  font-size: 14px;
  font-family: monospace;
}
.header__button-link {
  padding: 20px;
  background-color: black;
  color: #fff;
  text-decoration: none;
}

.header__button-link:hover {
  background-color: rgb(235, 235, 235);
  color: black;
}
/*------------------ M A I N ---------------*/
.main {
  margin-top: 20px;
}
.main__section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.main__section--wrap-reverse {
  flex-wrap: wrap-reverse;
}
.section__content {
  flex: 1 400px;
  height: 500px;
}
.content {
  width: 70%;
  margin: 25% auto;
  display: flex;
  flex-direction: column;
}
.section__content--dark {
  background-color: black;
}
.section__content--white {
  background-color: #fff;
}
.content__heading {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
  padding-top: 5px;
}
.content__heading--white {
  color: #fff;
}
.content__paragraph {
  font-size: 18px;
  padding-top: 20px;
  color: rgb(122, 122, 122);
}
.content__span {
  font-size: 20px;
  padding: 30px 0px;
  display: block;
}
.content__span a {
  text-decoration: none;
}
.content__span--white a {
  color: #fff;
}
.content__span--black a {
  color: black;
}
.section__photo {
  flex: 2 500px;
  height: 500px;
  background-position: center;
  background-size: cover;
}
.section__photo--first {
  background-image: url("../images/image1.jpg");
}
.section__photo--second {
  background-image: url("../images/image2.jpg");
}
.section__photo--third {
  background-image: url("../images/image3.jpg");
}

/*------------------------------------*/
.section {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.section__container {
  width: 25%;
  height: 300px;
  background-position: center;
  background-size: cover;
}
.section__container--first {
  background-image: url("../images/sect1.jpg");
}
.section__container--second {
  background-image: url("../images/sect2.jpg");
}
.section__container--third {
  background-image: url("../images/sect3.jpg");
}
.section__container--fourth {
  background-image: url("../images/sect4.jpg");
}
.container__info {
  width: 60%;
  margin: 0 auto;
  margin-top: 170px;
}
.info__heading {
  font-size: 25px;
  color: #fff;
  font-family: monospace;
}
.info__author {
  padding: 20px 0px;
  border-bottom: 1px solid #fff;
  font-size: 16px;
  color: #fff;
}
.info__button {
  display: block;
  font-size: 16px;
  padding-top: 10px;
}
.info__button a {
  color: #fff;
  text-decoration: none;
}
/*--------------------------------*/
.second-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}
.second-section__text {
  width: 350px;
  height: 300px;
  margin: 10px;
  border: 2px solid black;
}

.text__heading {
  text-align: center;
  font-size: 25px;
  padding: 20px;
  font-weight: bolder;
  font-family: monospace;
}
.text__info {
  font-size: 18px;
  padding: 10px;
}
/*---------------------*/
.footer {
  margin-top: 40px;
  background: black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-left__heading-icon {
  display: flex;
  flex-direction: column;
}
.heading-icon__heading {
  padding: 10px;
  font-size: 20px;
  color: #fff;
}
.heading-icon__icon-list {
  display: flex;
  padding-top: 20px;
}
.heading-icon__icon-list-item {
  padding: 10px;
  padding-left: 0px;
}
.footer-left {
  display: flex;
  align-items: baseline;
}
.footer-left__menu-list {
  margin-left: 50px;
}
.footer-left__menu-list-item {
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;
}
.footer-left__menu-list-item a {
  text-decoration: none;
  color: #fff;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-right__click {
  padding: 10px;
}
.footer-right__click a {
  color: #fff;
  text-decoration: none;
}
.footer-right__copyright {
  display: block;
  padding-bottom: 20px;
  font-size: 14px;
  color: rgb(122, 122, 122);
}
